.Insta {
	text-align: center;
}

.Insta-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Insta-link {
	color: #61dafb;
}

.logout {
	padding: 0.4rem;
    border-radius: 1rem;
    border:0.2rem groove darkred;
    background-color:rgba(235, 106, 106, 0.5);
    color:darkred;
    margin:1rem;
    outline: none;
}
.logout:hover {
	background-color: rgb(94, 17, 17);
    color:rgb(255, 217, 49);
}
