.commentsSection {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	font-weight: bold;
	text-align: start;
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: rgba(248, 240, 126, 0.9);
	box-shadow: inset 0 0 0.5rem 0rem;
	width: 28rem;
	height: 5rem;
	align-self: center;
}

.allCommentsSection {
	overflow: auto;
	text-overflow: ellipsis;
	width: inherit;
	height: 3rem;
}

summary {
	outline: none;
}

summary::after {
	content: "see comments...";
	font-family: cursive;
	font-size: 0.8rem;
}

details[open] summary::after {
	content: "hide comments";
	font-family: cursive;
	font-size: 0.8rem;
}

.newComment {
	font: inherit;
	padding: 0.1rem;
	margin: 0.4rem;
	outline: none;
}
