.postContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: cursive;
	font-size: 1.5rem;
	cursor: default;
}

.post {
	display: flex;
	flex-direction: column;
	width: 28rem;
	margin: 3rem;
	padding: 2rem;
	box-shadow: 0 0 0.9rem 0.01rem black;
}

.userPost {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.userPic {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.userPost span img {
	vertical-align: sub;
}

.username {
	margin-left: 0.5rem;
	vertical-align: super;
}

.userCommentPost {
	font-size: 1rem;
}

.postImg {
	align-self: center;
	width: 30rem;
	height: 28rem;
	margin: 1rem;
	border: 0.1rem dotted black;
}

.postFrequency {
	font-size: 1rem;
	align-self: start;
}

.postFrequency button {
	background-color: white;
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}
